/* Styles for form container */
.form_container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for form content */
  .form_content {
    margin-top: 20px;
  }
  
  /* Styles for registration title */
  .registration_title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Styles for input fields and labels */
  .input_fields {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  /* Styles for buttons */
  .reg_button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
    .form_container {
      width: 90%;
    }
  }
  